@model IEnumerable<CRUD.Models.Almacen>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AlmacenDescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Decimal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AlmacenDescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Entero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Decimal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AlmacenID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AlmacenID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AlmacenID })
        </td>
    </tr>
}

</table>
